<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-wtidht" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Strona główna</a>
            <div class="collapse navbar-collapse" id="navbarNav">
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>