<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-wtidht" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>