@model IEnumerable<Tuto.UI.Models.LinkDTO>

@{
    <h5>Polecane</h5>
    <ol class="list-unstyled">
        @foreach (var link in Model)
        {
            <li><a href="@link.UrlAddress">@link.LinkTitle</a></li>
        }
    </ol>
}
