@model  Tuto.UI.Models.Home.HomePageModel
@{
    ViewData["Title"] = "Home Page";
}


@foreach (var item in Model.Categories)
{
    @item.Title
    <p>Części: @item.EntriesCounter</p>
    <ul>
        @foreach (var entry in item.Entires)
        {
            <li>@entry.Title</li>
        }
    </ul>
}

