@model  Tuto.UI.Models.Home.HomePageModel
@{
    ViewData["Title"] = "Home Page";
}


@foreach (var item in Model.Categories)
{
    <h3>@item.Title</h3>
    <ul>
        @foreach (var entry in item.Entires)
        {
            <li>@entry.Title</li>
        }
    </ul>
}

