@model Tuto.UI.Models.AdminViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Panel Administracyjny</h2>
<div class="col-md-3">
    <div class="list-group">
        <a asp-controller="websitedetails" asp-action="index" class="list-group-item d-flex justify-content-between align-items-center">
            Configuration
        </a>
        <a asp-controller="homepagesettings" asp-action="index" class="list-group-item d-flex justify-content-between align-items-center">
            Home Page Settings
        </a>
        <a  asp-controller="entry" asp-action="index" class="list-group-item d-flex justify-content-between align-items-center">
            Entries
            <span class="badge badge-primary badge-pill">@Model.NumberofAllEntries</span>
        </a>
        <a asp-controller="categories" asp-action="index" class="list-group-item d-flex justify-content-between align-items-center">
            Categories
            <span class="badge badge-primary badge-pill">@Model.NumberOfAllCategories</span>
        </a>
        <a asp-controller="link" asp-action="index" class="list-group-item d-flex justify-content-between align-items-center">
            Links<span class="badge badge-primary badge-pill">@Model.NumberOfAllLinks</span>
        </a>
</div>
</div>
