@model TutoCMS.Models.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @foreach (var category in Model.Categories)
    {
        <h2>@category.Title</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Częśc nr.</th>
                    <th>Tytuł</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in category.Entries)
                {
                    <tr>
                        <td>@entry.Id</td>
                        <td>@entry.Title</td>
                    </tr>
                }
            </tbody>

        </table>
    }

</div>
